<h1> Nuestro primer Gráfico </h1>
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<div>
	<% pie = {"Compañia": @companies,"Usuarios": @users, "Reclamos": @claims} %>

	<%= pie_chart pie %>

</div>

